  <div class="contenedor">
    <audio id="sonido" src="media/ruleta.mp3"></audio>
    <div class="fullscreen intro">
      <article class="texto nombre">Nombre</article>
      <article class="texto empresa">Empresa</article>
      <article class="texto correo">Correo</article>
      <button></button>
    </div>
    <div class="fullscreen preguntas">
      <div class="enunciado"></div>
      <div class="alternativa alt01" data-opcion="1"></div>
      <div class="alternativa alt02" data-opcion="2"></div>
      <div class="alternativa alt03" data-opcion="3"></div>
    </div>
    <div class="fullscreen ruleta">
      <div class="zona">
        <div class="disco"></div>
        <div class="girar"></div>
        <div class="puntero"></div>
      </div>
      <button></button>
    </div>
    <div class="fullscreen resultado">
      <button class="seguir"></button>
      <button class="salir"></button>
    </div>
    <div class="contenedorTecladoAlfaNumerico">
      <ul style="width:880px;">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li><a href="#">0</a></li>
        <li><a href="#">esp</a></li>
      </ul>
      <ul style="width:880px;">
        <li><a href="#">q</a></li>
        <li><a href="#">w</a></li>
        <li><a href="#">e</a></li>
        <li><a href="#">r</a></li>
        <li><a href="#">t</a></li>
        <li><a href="#">y</a></li>
        <li><a href="#">u</a></li>
        <li><a href="#">i</a></li>
        <li><a href="#">o</a></li>
        <li><a href="#">p</a></li>
        <li class="borrar"><a href="#">bor</a></li>
      </ul>
      <ul style="width:880px;">
        <li><a href="#">a</a></li>
        <li><a href="#">s</a></li>
        <li><a href="#">d</a></li>
        <li><a href="#">f</a></li>
        <li><a href="#">g</a></li>
        <li><a href="#">h</a></li>
        <li><a href="#">j</a></li>
        <li><a href="#">k</a></li>
        <li><a href="#">l</a></li>
        <li><a href="#">ñ</a></li>
        <li class="com"><a href="#">.com</a></li>
      </ul>
      <ul style="width:880px;">
        <li><a href="#">z</a></li>
        <li><a href="#">x</a></li>
        <li><a href="#">c</a></li>
        <li><a href="#">v</a></li>
        <li><a href="#">b</a></li>
        <li><a href="#">n</a></li>
        <li><a href="#">m</a></li>
        <li><a href="#">@</a></li>
        <li><a href="#">_</a></li>
        <li><a href="#">-</a></li>
        <li><a href="#">.</a></li>
      </ul>
    </div>
  </div>
  <script src="js/vendor/jquery/jquery-3.1.1.js"></script>
  <script src="js/vendor/modernizr/modernizr-2.8.3-respond-1.4.2.min.js"></script>
  <script src="js/all.js?AlJK8Fw7Mb"></script>
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='http://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X','auto');ga('send','pageview');   
  </script>