
/* line 297 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */

/* line 1 : E:\repositorios\ruleta-categnology\node_modules\stylus\lib\functions\index.styl */

/* line 83 : E:\repositorios\ruleta-categnology\node_modules\stylus\lib\functions\index.styl */

/* line 2 : E:\repositorios\ruleta-categnology\base\stylus\adicionales\vendors.styl */

/* line 5 : E:\repositorios\ruleta-categnology\base\stylus\adicionales\vendors.styl */

/* line 1 : E:\repositorios\ruleta-categnology\base\stylus\adicionales\funciones.styl */

/* line 5 : E:\repositorios\ruleta-categnology\base\stylus\adicionales\funciones.styl */

/* line 1 : E:\repositorios\ruleta-categnology\base\stylus\adicionales\fonts.styl */
@font-face {
  font-family: 'fuente';
  src: url("fonts/ca_sans-bold-webfont.woff2") format('woff2'), url("fonts/ca_sans-bold-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

/* line 1 : E:\repositorios\ruleta-categnology\base\stylus\adicionales\fonts.styl */

/* line 1 : E:\repositorios\ruleta-categnology\base\stylus\adicionales\fonts.styl */

/* line 11 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
html,
body {
  margin: 0;
  padding: 0;
}

/* line 18 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 0;
}

/* line 23 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.fullscreen {
  position: relative;
  z-index: 0;
  width: 1920px;
  height: 1080px;
  background-size: cover;
}

/* line 28 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.fullscreen.intro {
  display: block;
  background-image: url("../img/intro.jpg");
}

/* line 31 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.fullscreen.intro article.texto {
  width: 927px;
  height: 111px;
  position: absolute;
  z-index: 0;
  line-height: 111px;
  font-family: 'fuente';
  font-size: 51px;
  color: #214d57;
  padding-left: 40px;
  padding-right: 40px;
  overflow: hidden;
}

/* line 42 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.fullscreen.intro article.texto.nombre {
  top: 343px;
  left: 525px;
}

/* line 45 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.fullscreen.intro article.texto.empresa {
  top: 494px;
  left: 525px;
}

/* line 48 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.fullscreen.intro article.texto.correo {
  top: 646px;
  left: 525px;
}

/* line 51 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.fullscreen.intro button {
  position: absolute;
  z-index: 0;
  top: 879px;
  left: 789px;
  width: 400px;
  height: 88px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: none;
}

/* line 61 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.fullscreen.preguntas {
  display: none;
  background-image: url("../img/pregunta.jpg");
}

/* line 64 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.fullscreen.preguntas div.enunciado {
  position: absolute;
  z-index: 0;
  top: 150px;
  left: 387px;
  width: 1170px;
  font-family: 'fuente';
  font-size: 57px;
  line-height: 62px;
  text-align: center;
  color: #fff;
}

/* line 74 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.fullscreen.preguntas div.alternativa {
  position: absolute;
  z-index: 0;
  left: 395px;
  width: 1170px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  line-height: 44px;
  height: 119px;
  font-family: 'fuente';
  font-size: 45px;
  color: #498ca9;
  cursor: pointer;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

/* line 88 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.fullscreen.preguntas div.alternativa.alt01 {
  top: 363px;
}

/* line 90 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.fullscreen.preguntas div.alternativa.alt02 {
  top: 512px;
}

/* line 92 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.fullscreen.preguntas div.alternativa.alt03 {
  top: 659px;
}

/* line 94 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.fullscreen.preguntas div.alternativa.error {
  background-color: #fc4850;
  color: #fefefe;
  padding-left: 120px;
  background-image: url("../img/error.png");
  background-repeat: no-repeat;
}

/* line 100 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.fullscreen.preguntas div.alternativa.acierto {
  background-color: #699421;
  color: #fefefe;
  padding-left: 120px;
  background-image: url("../img/acierto.png");
  background-repeat: no-repeat;
}

/* line 106 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.fullscreen.preguntas.cambio {
  -webkit-animation: disolver 2.5s;
  -moz-animation: disolver 2.5s;
  -ms-animation: disolver 2.5s;
  -o-animation: disolver 2.5s;
  animation: disolver 2.5s;
}

/* line 108 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.fullscreen.ruleta {
  display: none;
  background-image: url("../img/ruleta.jpg");
  padding-top: 194px;
}

/* line 112 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.fullscreen.ruleta div.zona {
  position: relative;
  z-index: 0;
  width: 765px;
  height: 765px;
  margin-left: auto;
  margin-right: auto;
}

/* line 118 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.fullscreen.ruleta div.zona div.disco {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url("../img/disco.png");
}

/* line 124 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.fullscreen.ruleta div.zona div.girar {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -64.5px;
  margin-top: -64.5px;
  z-index: 2;
  width: 129px;
  height: 129px;
  cursor: pointer;
  background-image: url("../img/girar.png");
}

/* line 135 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.fullscreen.ruleta div.zona div.puntero {
  position: absolute;
  top: 0px;
  top: 0;
  left: 50%;
  margin-left: -29px;
  width: 58px;
  height: 87px;
  z-index: 3;
  background-image: url("../img/puntero.png");
}

/* line 144 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.fullscreen.ruleta button {
  outline: none;
  border: 0;
  background-color: transparent;
  width: 111px;
  height: 97px;
  position: absolute;
  z-index: 0;
  top: 945px;
  left: 60px;
  cursor: pointer;
}

/* line 154 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.fullscreen.resultado {
  display: none;
  background-image: url("../img/resultado.jpg");
}

/* line 157 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.fullscreen.resultado button.seguir {
  position: absolute;
  z-index: 0;
  top: 452px;
  left: 481px;
  width: 475px;
  height: 173px;
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

/* line 167 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.fullscreen.resultado button.salir {
  position: absolute;
  z-index: 0;
  top: 452px;
  left: 1024px;
  width: 475px;
  height: 173px;
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

/* line 178 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.contenedorTecladoAlfaNumerico {
  width: 966px;
  height: 280px;
  background-color: #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  z-index: 0;
  top: 1080px;
  left: 505px;
  display: block;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

/* line 189 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.contenedorTecladoAlfaNumerico ul {
  width: 1121px;
  background-color: #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  list-style: none;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

/* line 198 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.contenedorTecladoAlfaNumerico ul li {
  float: left;
  width: 70px;
  line-height: 60px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  margin: 5px;
  font-family: 'fuente';
}

/* line 206 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.contenedorTecladoAlfaNumerico ul li a,
div.contenedor div.contenedorTecladoAlfaNumerico ul li:link,
div.contenedor div.contenedorTecladoAlfaNumerico ul li:visited,
div.contenedor div.contenedorTecladoAlfaNumerico ul li:active,
div.contenedor div.contenedorTecladoAlfaNumerico ul li:hover {
  display: block;
  width: 70px;
  text-align: center;
  font-family: 'fuente';
  font-size: 29px;
  line-height: 60px;
  text-decoration: none;
  color: #000;
}

/* line 219 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.contenedorTecladoAlfaNumerico ul.borrar {
  width: 150px;
}

/* line 221 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.contenedorTecladoAlfaNumerico ul.borrar a {
  width: 150px;
}

/* line 223 : E:\repositorios\ruleta-categnology\base\stylus\estilos.styl */
div.contenedor div.contenedorTecladoAlfaNumerico.mostrar {
  top: 777px;
}

/* line 4 : E:\repositorios\ruleta-categnology\base\stylus\adicionales\fonts.styl */

/* line 1 : E:\repositorios\ruleta-categnology\base\stylus\adicionales\animaciones.styl */

/* line 1 : E:\repositorios\ruleta-categnology\base\stylus\adicionales\animaciones.styl */
@-moz-keyframes disolver {

/* line 2 : E:\repositorios\ruleta-categnology\base\stylus\adicionales\animaciones.styl */
  50% {
    filter: blur(15px);
  }
}

/* line 1 : E:\repositorios\ruleta-categnology\base\stylus\adicionales\animaciones.styl */
@-webkit-keyframes disolver {

/* line 2 : E:\repositorios\ruleta-categnology\base\stylus\adicionales\animaciones.styl */
  50% {
    filter: blur(15px);
  }
}

/* line 1 : E:\repositorios\ruleta-categnology\base\stylus\adicionales\animaciones.styl */
@-o-keyframes disolver {

/* line 2 : E:\repositorios\ruleta-categnology\base\stylus\adicionales\animaciones.styl */
  50% {
    filter: blur(15px);
  }
}

/* line 1 : E:\repositorios\ruleta-categnology\base\stylus\adicionales\animaciones.styl */
@keyframes disolver {

/* line 2 : E:\repositorios\ruleta-categnology\base\stylus\adicionales\animaciones.styl */
  50% {
    filter: blur(15px);
  }
}

/* line 1 : E:\repositorios\ruleta-categnology\base\stylus\adicionales\animaciones.styl */
